core-toolbar {
    background: #e93824;
    color: whitesmoke;
}



/* Search Input */

paper-input::shadow paper-input-decorator {
    padding: 0 0 5px 0;
}
paper-input /deep/ .unfocused-underline {
    background-color: whitesmoke;
}
paper-input /deep/ .focused-underline {
    background-color: #7eb2e1;
}
paper-input /deep/ ::-webkit-input-placeholder {
    color: rgba(242, 242, 242, .5); /* whitesmoke with 50% opacity */
}
paper-input /deep/ ::-moz-placeholder {
    color: rgba(242, 242, 242, .5);
}
paper-input /deep/ :-ms-input-placeholder {
    color: rgba(242, 242, 242, .5);
}