:host {
    width: 100%;
    max-width: 400px;
    margin: 10px 0 0 0;
    padding: 10px;
    /*background: rgba(15, 176, 72, .5);
    background: rgba(235, 28, 34, .325);*/
    box-shadow: 0px 5px 5px #ccc;
}
#title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px;
}
#poster {
    margin: 0 0 0 15px;
}